<!--
  Name: projects.ejs
  Author: Riyang Liu
  Description: ejs file for the projects page.
  Date: Mar 1, 2018
-->

<!-- Including the header file -->
<% include ../partials/header %>

<!-- Including assets -->
<link rel="stylesheet" type="text/css" href="/css/projects.css">
<script type="text/javascript" src="/js/projects.js"></script>

<!--                             Nav bar                      -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="https://hackaday.io/myFeed">HACKADAY.IO</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">About<span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Help<span class="sr-only"></span></a>
      </li>

    </ul>
  </div>
</nav>

<!-- Featured project -->
<!-- By default. It right now shows the first project in the list as the featured project-->
<div id="bg">
  <div id="bgimg">
    <a href="<%= apiData[0][0].url %>"><img id="featuredimg" src= <%= apiData[0][0].image_url %> class="img-fluid" alt="Responsive image"></a>
  </div>

  <div id="featuredDiv">
    <h4 id="featuredProject"><%= apiData[0][0].name %></h4>
    <p id="featuredSummary"><%= apiData[0][0].summary %></p>
    <hr id="blackbgline">
    <h5 id="featuredUser"><%= (apiData[1].find(o => o.id === apiData[0][0].owner_id)).screen_name %></h5>
  </div>
</div>

<hr id="separationLine">

<!-- Loading all projects -->
<div class="container">
  <div class="card-columns">
    <% var projects = apiData[0].slice(1); %>
      <% projects.forEach(function(item){ %>
        <div class="card">
          <a href="<%= item.url %>"><img id="imgs" class="card-img-top img-fluid" src=" <%= item.image_url %>" alt="Card image cap Responsive image"></a>
          <div class="card-block">
            <h4 id="title" class="card-title"><%= item.name %></h4>
            <!-- Checking if the owner is known. If it is, show the owner's screen name; else show nothing -->
            <% var obj = (apiData[1].find(o => o.id === item.owner_id)); %>
            <% if (typeof(obj) != "undefined") { %>
              <!-- Mouse over the owner's name to show the detail info of the owner-->
              <p onmouseover="showProfile(this)" onmouseout="hideProfile(this)" class="card-text"><a href="<%= obj.url %>"><img id="profilePicture" src=<%= obj.image_url %> class="img-fluid" alt="Responsive image"></a><%= obj.screen_name %></p>
              <div onmouseover="showProfile(this)" onmouseout="hideProfile(this)" id="tip">
                <div id="bigProfile">
                  <a href="<%= obj.url %>"><img id="profilePictureBig" src=<%= obj.image_url %> class="img-fluid" alt="Responsive image"></a>
                </div>
                <div id="profileDetailDiv">
                  <h6 id="userName"><%= obj.screen_name %></h6>
                  <p id="followers">Followers:&nbsp;<%= obj.followers %>&nbsp; Following:&nbsp;<%= obj.following %>&nbsp;Projects:&nbsp;<%= obj.projects %></p>
                  <p id="interests"><%= obj.what_i_would_like_to_do %></p>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

<hr id="btmLine">
<h4 id="footerText">About Us</h4>

<!-- Including the footer file -->
<% include ../partials/footer %>
